div .effects {
  display: flex;
  justify-content: space-around;
}

.effects ul {
  height: 350px;
  overflow: scroll;
}

.filter {
  margin-top: 20px;
  margin-left: 15px;
}

.filterAll {
  margin-left: 45%;
  width: 200px;
}