.Navigation {
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  margin-top: 15px;
  font-size: 24px;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  color: #7FFF00;
  text-shadow: 3px 3px #8888;
}

.nav-list button {
  font-size: 24px;
  color: #7FFF00;
  text-shadow: 3px 3px #8888;  
  font-weight: bold;
  background: none;
  border: none;
  margin-right: 20px;
  padding-bottom: 20px;
  width: 100px;
}