.pw-forget {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .pw-forget form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto; }
  .pw-forget input {
    height: 30px;
    width: 300px;
    margin-bottom: 10px; }
  .pw-forget button {
    height: 30px;
    width: 314px;
    font-size: 16px; }
