li {
  list-style-type: none;
  text-align: center; }

.effect-button:hover {
  background: blue; }

.effect-button:active {
  background: red; }

button {
  width: 150px;
  height: 50px; }

.selected {
  background-color: purple;
  border: 2px solid green; }
