li {
  list-style-type: none;
  text-align: center; }

.fii:hover {
  background: blue; }

.fii:active {
  background: red; }

button {
  width: 150px;
  height: 50px; }

.selected {
  background-color: purple;
  border: 2px solid green; }

.notSelected {
  background: none;
  border: none; }
