li {
  list-style-type: none;
  text-align: center;
}

.effect-button:hover {
  background: rgb(52,91,36);
}

.effect-button:active {
  background: rgba(7, 66, 7, 0.5);
}

button {
  width: 150px;
  height: 50px;
}

.selected {
  background-color: rgb(125, 235, 139);
  border: 2px solid rgb(72, 175, 72);
}